/* GLOBAL STYLINGS html*/
#logo {
  width: 25%;
  /* padding-left: 200px; */
}

#top-bar {
  text-align: left;
}

h2 {
  color: black;
  text-align: center;
  /* font-family: */
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1.4px;
  font-size: 2rem;
}

#search-bar {
  width: 100%;
  padding: 10px;
  box-shadow: rgba(255, 0, 0, 0.4) 5px 5px, rgba(255, 0, 0, 0.3) 10px 10px,
    rgba(255, 0, 0, 0.2) 15px 15px, rgba(255, 0, 0, 0.1) 20px 20px,
    rgba(255, 0, 0, 0.05) 25px 25px;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
}

#search-bar:hover {
  padding: 20px;
}
.search-display {
  color: white;
}
.input-container {
  width: 75%;
  margin: auto;
}
.button-container {
  width: 75%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

/*CSS responsible for keeping footer at bottom*/
body,
html {
  height: 100%;
  margin: 0;
}
body {
  background-color: blue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#footer {
  flex-shrink: 0;
  background-color: Orange;
  height: 100px;
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: end;
}

#footer h4 {
  align-self: flex-end;
  margin-right: 20px;
  font-size: 1.3rem;
}
.site-body {
  flex: 1;
}

.test {
  width: 50%;
  display: inline-block;
}
/*Read more and Read less button stylings */
.read-more,
.read-less {
  display: block;
  background-color: black;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  text-align: center;
  margin: 35px auto;
  width: 25%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s, font-size 0.2s, width 0.2s, height 0.2s;
}

.intro {
  width: 75%;
  display: block;
  margin: auto;
}

.read-more:hover,
.read-less:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 42px;
  width: 26%;
  font-size: 0.9rem;
}

/* CSS */

.store-fronts h4 {
  display: none;
}

/*TOP BAR STYLINGS  */
#top-bar {
  background-color: Orange;
  text-align: center;
}

li img {
  text-align: center;
}

/*Storefront CSS (Store logos and links)*/

.store-fronts img {
  padding-right: 10px;
  width: 75px;
}

.store-fronts {
  text-align: center;
}

/* Game infos related CSS */
.game-list {
  margin-left: -40px;
  background-color: #f43c04;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 0;
}
.game-data {
  display: flex;
  margin: auto;
  width: 86%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
  transition: border-left 200ms ease, border-right 200ms ease, box-shadow 200ms;
  background-color: orange;
  filter: brightness(85%);
  transition: filter 200ms linear;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
}
.game-cover {
  max-width: 65%;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.game-desc {
  color: black;
  max-width: 75%;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
}

/* LARGESCREEN MEDIA QUERIES*/
@media only screen and (min-width: 1000px) {
  #logo {
    width: 20%;
    /* padding-left: 200px; */
  }
  /* 
  #top-bar {
    text-align: left;
  } */

  h2 {
    font-size: 1.7rem;
    text-align: left;
  }

  .game-data {
    flex-direction: row;
    justify-content: space-between;
  }

  .game-data:hover {
    filter: brightness(100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .game-desc {
    max-width: 45%;
    font-size: 1rem;
    min-width: 15%;
    word-wrap: break-word;
    margin: 0 25px 0 25px;
  }

  .defaultDesc {
    margin-right: 4%;
    margin-left: -50px;
    font-size: 1.5rem;
  }

  .game-cover {
    max-width: 30%;
    margin-left: 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .store-fronts {
    margin-left: 25px;
    text-align: center;
  }

  /* .store-fronts h4 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 100;
    display:block;
  } */

  .store-fronts img {
    width: 60px;
    height: 60px;
    transition: width 100ms linear, height 100ms linear;
    margin-right: 10px;
  }

  .read-less,
  .read-more {
    margin-left: 0;
    margin-top: 40px;
  }

  .store-fronts img:hover {
    height: 50px;
    width: 50px;
  }
}
